#autho_carts{
    margin-top: 120px;
    .text_cen{
        margin: 0 auto;
        width: 46%;
        h2{
                    font-size: 52px;
        font-weight: 650;
        margin-bottom: 22px;
        @media (max-width:1000px) {
            font-size: 38px;
            
        }
        @media (max-width:400px) {
            font-size: 32px;
            
        }
        }
        p{
            font-size: 20px;
    font-weight: 600;
    @media (max-width:1000px) {
        font-size: 13px;
        
    }
    @media (max-width:400px) {
        font-size: 9px;
        
    }
        }

    }

    .cart{
        @include _main($display:flex , $width:100% , $margin:20px 0 0 0   );
        flex-direction: column;
        gap: 15px;
        
        .upside{
    
          .img{
            transition: .3s ease-in-out;
            @include _main($position:relative ,$border-radius:30px, $width:100% , $height:250px , $cursor:pointer);
            overflow: hidden;
            img{
              @include _main( $width:100% , $height:100% , $object_f:cover);
      
            }
            &:hover{
              transform: translateY(-8px);
            }
          }
        }
        .downside{
span{
    margin: 10px 0 6px 0;
display: block;
font-weight: 550;
}
p{
    font-size: 15px;
      @media (max-width:1400px) {
        font-size: 13px;
        
      }
}
        }
      
      }
}